* text=auto

*.cs text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.mjs text eol=lf
*.py text eol=lf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.xlsx binary
